.hidden {
  display: none;
}

.white-space-wrap {
  white-space: normal;
}

.scrolling-wrapper {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox

  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }
}

.full-height {
  height: 100vh;
}

.overflow-x-hidden {
  overflow-x: hidden;
}
